rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny catch-all rule
    match /{document=**} {
      allow read, write: if false;
    }

    match /procedures/{procedureId} {
      allow read, write: if true;
    }

    match /inventory/{inventoryId} {
      allow read, write: if true;
    }

    match /checklist/{checklistId} {
      allow read, write: if true;
    }

    match /feed/{postId} {
      allow read, write: if true;
    }

    match /videos/{videoId} {
      allow read, write: if true;
    }
  }
}
